@charset "UTF-8";

body {
	font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	color: #333;
	line-height: 1.4;
	background: #eff;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}


h1 {
	text-align: center;
}
h2 {
	border: solid 1px #06c;
	border-width: 0 0 2px 10px;
	padding-left: 10px;
	margin-top: 60px;
}
h3 {
	color: #06c;
	margin-top: 40px;
}


pre, code, kbd, var, samp {
	font-family: Monaco,Menlo,Consolas,'Courier New',Courier,Meiryo,monospace,monospace;
}
pre {
	border: solid 1px #ccc;
	border-radius: 4px;
	background: #eee;
	padding: 5px 10px;
}
pre > strong {
	text-weight: bold;
	color: #600;
}
code {
	border: solid 1px #ccc;
	border-radius: 2px;
	background: #eee;
	padding: 1px 2px;
}
